<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Data</title>
</head>
<body>
    <h3>User Data</h3>
    <table border="1">
        <thead>
            <tr>
                <th>Specific Gravity</th>
                <th>Hypertension</th>
                <th>Hemoglobin</th>
                <th>Diabetes Mellitus</th>
                <th>Albumin</th>
                <th>Appetite</th>
                <th>Red Blood Cells</th>
                <th>Pus Cell</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
